html {
  scroll-behavior: smooth;
}

body {
  filter: grayscale(100%);
  font-family: "Open Sans", serif;
}

.nav-link{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover{
    color: black;
}

